/*  header  */
.header {
    height: 80px;
    margin-bottom: 10px;
}

.header-line-height {
    line-height: 80px;
}

.padding-zero {
    padding: 0;
}

.padding-right-zero {
    padding-right: 0;
}

.footer {
    height: 40px;
}
.footer ul {
    margin: 0;
    line-height: 100%;
    list-style: none;
}

.footer ul li {
    line-height: 100%;
}

.auto_height {
    height: 100%;
}