<div class="form-group">
    <a class="btn btn-primary" href="/admin/system">新增系统</a>
</div>

<div class="form-group">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>系统ID</td>
            <td>系统名称</td>
            <td>回调</td>
            <td>状态</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {{range $index, $subSystem := .PageSystem}}
        <tr>
            <td>{{$subSystem.Sid}}</td>
            <td>{{$subSystem.SName}}</td>
            <td>{{$subSystem.SUrl}}</td>
            <td>
                <div class="switch" data-on="primary" data-off="danger" data-sid="{{$subSystem.Sid}}">
                    <input type="checkbox" {{if $subSystem.Status}}checked{{end}} />
                </div>
            </td>
            <td>{{dateformat $subSystem.CreateTime "2006-01-02 15:04:05"}}</td>
            <td>
                <a class="btn btn-primary" href="/admin/system/{{$subSystem.Sid}}">察看</a>
                <a class="btn btn-primary" href="/admin/system/delete/{{$subSystem.Sid}}">删除</a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>

    <ul class="pagination">
        {{if paginationShowFirst .Pagination.CurrentPage}}
        {{$firstUrl := paginationJump 1 $.Pagination.PageSize ""}}
        <li><a href="/admin/system?{{$firstUrl}}" >1</a></li>
        {{end}}

        {{if paginationShowPrefix .Pagination.CurrentPage}}
        {{$prefixUrl := paginationPrefix "" .Pagination.CurrentPage .Pagination.PageSize}}
        <li><a href="/admin/system?{{$prefixUrl}}" >前一页</a></li>
        {{else}}
        <li><a class="disabled">前一页</a></li>
        {{end}}

        {{range $key, $val := paginationGetPageNumber .Pagination.CurrentPage .Pagination.TotalPage}}
        {{$currentUrl := paginationJump $val $.Pagination.PageSize ""}}
        <li><a href="/admin/system?{{$currentUrl}}">{{$val}}</a></li>
        {{end}}

        {{if paginationShowSuffix .Pagination.CurrentPage .Pagination.TotalPage}}
        {{$suffixUrl := paginationSuffix "" .Pagination.CurrentPage .Pagination.PageSize .Pagination.TotalPage}}
        <li><a href="/admin/system?{{$suffixUrl}}" >后一页</a></li>
        {{else}}
        <li><a class="disabled">后一页</a></li>
        {{end}}

        {{if paginationShowLast .Pagination.CurrentPage .Pagination.TotalPage}}
        {{$lastUrl := paginationJump .Pagination.TotalPage $.Pagination.PageSize ""}}
        <li><a href="/admin/system?{{$lastUrl}}">{{.Pagination.TotalPage}}</a></li>
        {{end}}
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("[type=checkbox]").bootstrapSwitch();
    });
</script>
