<nav class="navbar-default" role="navigation">
    <div class="list-group">
        <a class="list-group-item" href="/admin">概览</a>
        {{if eq .NavType "admin"}}
        <a class="list-group-item" href="/admin/system/list">系统信息</a>
        <a class="list-group-item" href="/admin/users">用户信息</a>
        <a class="list-group-item" href="/admin/authentication">用户权限</a>
        <a class="list-group-item" href="/admin/monitor">在线监控</a>
        {{end}}
        <a class="list-group-item" href="/about">About</a>
        <!--<span class="badge">新</span>-->
    </div>
</nav>


